<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>演示</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <form class="form-inline" method="get" action="search">
            <input class="form-control mr-sm-2 span4" type="text" style="width:500px;" value="" name="q">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </nav>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>